In [4]:
import pandas as pd

# Load specific rows: 10 to 20 (zero-indexed, so this gets rows 10–19)
df = pd.read_csv("dev_data.csv", skiprows=range(1, 10), nrows=10)

# Display the result
print(df)

   developer_id  YoE       phase  \
0       4981940    9  1. Phase 1
1       5099376   10  1. Phase 1
2       4559393   11  1. Phase 1
3       1310253    9  1. Phase 1
4       1183630    7  1. Phase 1
5       2805622   15  1. Phase 1
6       3427705   12  1. Phase 1
7       3046340   13  1. Phase 1
8        306724   13  1. Phase 1
9       4788262    8  1. Phase 1

                                        resume_plain
0  \n\n \n  \n \n  \nNasrullah \nKarachi, Pakista...
1  \n\nNAVEENA N  \nFull Stack Developer \n Email...
2  \n\nWordPress Developer\n+91 9737661584ashishp...
3  \n\nMDMAHMUDULISLAM\nM:+880172-252-9276\nE:iam...
4  \n\n \nMarcos Martins \nTelephone: (+5534) 991...
5  \n\n  \nContato\n31 984515832 (Home)\nrodrigoa...
6  \n\nKSHITIZ KUMAR  \n[Data Science | AI/ML | P...
7  \n\n\t \n \nNarsingh Tomar \nTechnical Archite...
8  \n\n                              \n \n \n \n ...
9  \n\nZoeHall.dev|zoefhall@gmail.com|(717)265-55...

In [7]:
df['developer_id'] = df['developer_id'].astype("int")
df['resume_plain'] = df['resume_plain'].astype("str")

df1 = df[['developer_id', 'resume_plain']]
df1

   developer_id                                       resume_plain
0       4981940  \n\n \n  \n \n  \nNasrullah \nKarachi, Pakista...
1       5099376  \n\nNAVEENA N  \nFull Stack Developer \n Email...
2       4559393  \n\nWordPress Developer\n+91 9737661584ashishp...
3       1310253  \n\nMDMAHMUDULISLAM\nM:+880172-252-9276\nE:iam...
4       1183630  \n\n \nMarcos Martins \nTelephone: (+5534) 991...
5       2805622  \n\n  \nContato\n31 984515832 (Home)\nrodrigoa...
6       3427705  \n\nKSHITIZ KUMAR  \n[Data Science | AI/ML | P...
7       3046340  \n\n\t \n \nNarsingh Tomar \nTechnical Archite...
8        306724  \n\n                              \n \n \n \n ...
9       4788262  \n\nZoeHall.dev|zoefhall@gmail.com|(717)265-55...